/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.container {
    width: 75%;
    margin: 0 auto;
}

/* HEADER section */

header {
    background: #b06010;
    padding: 0.6rem;
    color: white;
}

header li {
    list-style-type: none;
    display: inline;
}

header a {
    color: white;
    text-decoration: none;
}

header i {
    margin-right: 1rem;
}

header ul li:nth-child(2) {
    margin-left: 2rem;
}

/* NAVBAR section */

nav {
    padding: 5px 0;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
    display: inline;
}

nav a {
    text-decoration: none;
}

nav a:active, nav a:visited {
    color: black;
}

nav .fa-home {
    font-size: 2rem;
    color: #204b87;
}

.navbar__brand h1 {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding-left: 10px;
}

.navbar__brand div {
    letter-spacing: 6px;
    padding: 0 25px;
    font-size: 12px;
    color: #b06010;
}

.navbar__menu li {
    padding: 0 2rem;
}

.navbar__menu a {
    font-weight: 600;
    transition: 0.5s;
}

.navbar__menu a:hover {
    color: #b06010;
}

.navbar__social__icon {
    padding: 0 5px;
}

.navbar__social__icon i {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: white;
}

.navbar__social .fa-facebook-f {
    background: #204b87;
}

.navbar__social .fa-twitter {
    background: #1da1f2;
}

.navbar__social .fa-dribbble {
    background: #ea4c89;
}

/* CAROUSEL section */

.carousel .swiper-container {
    position: relative;
}

.carousel .swiper-wrapper li {
    height: 600px;
}

.carousel .swiper-button-next,
.carousel .swiper-button-prev {
    color: darkgrey;
}

.carousel .swiper-pagination {
    bottom: 10% !important;
}

.carousel .swiper-pagination-bullet-active {
    background-color: darkgrey;
}

.carousel .text__overlay {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.carousel .text__overlay h1 {
    font-size: 3rem;
    color: white;
    font-weight: 300;
    line-height: 5rem;
    margin-bottom: 3rem;
}

.carousel .text__overlay li {
    list-style-type: none;
    display: inline;
    padding: 20px;
}

.carousel i {
    color: #b06010;
}

/* ABOUT section */

.about {
    padding: 4rem 0;
}

.about h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 650;
}

.about #p1 {
    color: #b06010;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 1rem;
}

.about #p2 {
    text-align: center;
    width: 75%;
    margin: auto;
    line-height: 1.8rem;
    color: #888;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.about__cards {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}

.about__card {
    text-align: center;
    padding: 0 10px;
}

.about__card .flip-icon {
    margin-bottom: 4.5rem;
}

.about__card .flip-icon-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    color: #204b87;
}

.about__card:hover .flip-icon-inner {
    transform: rotateY(180deg);
}

.about__card .flip-icon-front,
.about__card .flip-icon-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.about__card .flip-icon-back {
    transform: rotateY(180deg);
    color: #b06010;
}

.about__card i {
    font-size: 3rem;
}

.about__card h2 {
    color: #b06010;
    margin-bottom: 1.5rem;
}

.about__card p {
    line-height: 1.8rem;
    color: #888;
    font-size: 16px;
    letter-spacing: 1px;
}

/* TEAM section */

.team {
    padding: 3rem 0;
    margin-bottom: 4rem;
}

.team h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 650;
}

.team .p1 {
    color: #b06010;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 5rem;
}

.team__cards {
    display: flex;
    justify-content: space-between;
}

.team__card {
    width: 30%;
    text-align: center;
    padding: 0 10px;
}

.team__card .social__icons {
    border-top: 2px solid #252323;
    padding-top: 1.5rem;
    transition: 0.5s ease-in;
}

.team__card:hover .social__icons {
    border-top: 2px solid #b06010;
}

.team__card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.team__card h2 {
    color: #b06010;
    margin-bottom: 1rem;
}

.team__card p {
    color: #4f5667;
    margin-bottom: 1em;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.team__card li {
    list-style-type: none;
    display: inline;
    padding: 0 10px;
}

.team__card li a:hover {
    color: #b06010;
    transition: 0.5s ease-in;
}

/* FEEDBACK section */

.feedback {
    background-image: url('../img/banner-2.jpg');
    height: 500px;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.feedback h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 2px;
    color: white;
    padding: 2rem 0;
}

.feedback .p1 {
    color: #b06010;
    letter-spacing: 6px;
    margin-bottom: 1em;
}

.feedback li {
    list-style-type: none;
}

.feedback__info {
    padding: 4rem 0;
}

.feedback__info .swiper-slide {
    color: white;
    text-align: left;
}

.feedback__info .swiper-pagination-bullet {
    background-color: #ff9800;
    width: 12px;
    height: 12px;
}

.feedback__text {
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.18);
    position: relative;
}

.feedback__text p {
    line-height: 1.8rem;
    letter-spacing: 1px;
}

.feedback__text::after {
    content: '';
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(255, 255, 255, 0.18);
    position: absolute;
    top: 100%;
    left: 27%;
}

.customer {
    width: 65%;
    margin: 2rem auto 0;
    display: flex;
}

.customer__img {
    width: 28%;
}

.customer__img img {
    width: 100%;
}

.customer__info {
    padding-left: 1rem;
}

.customer__info p {
    color: #cecece;
}


